
<div class="parallax first-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow slideInLeft hidden-xs hidden-sm">
                <div class="contact_form">
                    <h3><i class="fa fa-envelope-o grd1 global-radius"></i> HIZLI RANDEVU</h3>
                    <form id="contactform1" class="row" name="contactform" method="post">
                        <fieldset class="row-fluid">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="first_name1" id="first_name1" class="form-control" placeholder="Adınız">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="last_name1" id="last_name1" class="form-control" placeholder="Soyadınız">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="email" name="email1" id="email1" class="form-control" placeholder="Email Adresiniz">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="phone1" id="phone1" class="form-control" placeholder="Telefon Numaraınız">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label class="sr-only">Zaman Seç</label>
                                <select name="select_service1" id="select_service1" class="selectpicker form-control" data-style="btn-white">
                                    <option value="selecttime">Zaman Seç</option>
                                    <option value="Weekdays">Günsonu</option>
                                    <option value="Weekend">Haftasonu</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label class="sr-only">Maksimum fiyat nedir?</label>
                                <select name="select_price1" id="select_price1" class="selectpicker form-control" data-style="btn-white">
                                    <option value="₺100 - ₺2000">₺100 - ₺2000</option>
                                    <option value="₺2000 - ₺4000">₺2000 - ₺4000</option>
                                    <option value="₺4000 - ₺10000">₺4000 - ₺10000</option>
                                </select>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <button type="submit" value="SEND" id="submit1" class="btn btn-light btn-radius btn-brd grd1 btn-block">Randevu Alın</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="big-tagline clearfix">
                    <h2>Mülkünüzü E.K. Emlak ile satabilirsiniz</h2>
                    <p class="lead">E.K. Emlak duyarlı açılış sayfası şablonuyla tüm mülk ve emlak projelerinizi tanıtabilirsiniz.</p>
                    <a data-scroll href="#gallery" class="btn btn-light btn-radius grd1 btn-brd">Galeriyi Görüntüle</a>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->