<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <img src="~/city-real-estate/images/logos/logo-realestate.png" alt="">
                    </div>
                    <p>45 yılı aşkın süredir biz sizleri mülk sahibi yapıyoruz ve yapmaya devam edeceğiz. Uzman kadromuz sizin için çalışıyor.</p>
                    <p>Sektörde öncü firma ile her geçen gün daha kolay mülk sahibi olabilirsiniz.</p>
                </div><!-- end clearfix -->
            </div><!-- end col -->

            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Bilgi Bağlantısı</h3>
                    </div>

                    <ul class="twitter-widget footer-links">
                        <li><a href="/Admin/Index/"> Ana Sayfa </a></li>
                        <li><a href="#"> Hakkımızda </a></li>
                        <li><a href="#"> Hizmet</a></li>
                        <li><a href="#"> Galeri</a></li>
                        <li><a href="#"> Mülkler</a></li>
                        <li><a href="#"> İletişim</a></li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->

            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>İletişim Detayları</h3>
                    </div>

                    <ul class="footer-links">
                        <li><a href="mailto:#">ekEmlak@gmail.com</a></li>
                        <li><a href="#">www.ekEmlak.com</a></li>
                        <li>Sincan/ANKARA Ahimesut Bulvarı No:888</li>
                        <li>+90 5454039029</li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->

            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Sosyal Medya</h3>
                    </div>
                    <ul class="footer-links">
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                        <li><a href="#"><i class="fa fa-github"></i> Github</a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i> Dribbble</a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->

        </div><!-- end row -->
    </div><!-- end container -->
</footer><!-- end footer -->

<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-left">
                <p class="footer-company-name">Tüm hakları saklıdır. &copy; 2023 <a href="#">E.K. Emlak</a></p>
            </div>

            <div class="footer-right">
                <form method="get" action="#">
                    <input placeholder="Haberler için abone olun" name="search">
                    <i class="fa fa-envelope-o"></i>
                </form>
            </div>
        </div>
    </div><!-- end container -->
</div><!-- end copyrights -->