<div class="parallax first-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow slideInLeft hidden-xs hidden-sm">
                <div class="contact_form">
                    <h3><i class="fa fa-envelope-o grd1 global-radius"></i>İlan Ver</h3>
                    <form id="contactform1" class="row" name="contactform" method="post">
                        <fieldset class="row-fluid">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="first_name1" id="first_name1" class="form-control" placeholder="İlan Başlığı">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="last_name1" id="last_name1" class="form-control" placeholder="Kategori Adı">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="last_name1" id="last_name1" class="form-control" placeholder="Durumu">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="email" name="email1" id="email1" class="form-control" placeholder="İl - İlçe">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="phone1" id="phone1" class="form-control" placeholder="Adres">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="phone1" id="phone1" class="form-control" placeholder="Fiyat">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="phone1" id="phone1" class="form-control" placeholder="Oda Sayısı">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="phone1" id="phone1" class="form-control" placeholder="Bina Yaşı">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="phone1" id="phone1" class="form-control" placeholder="Metrekare">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label for="image">Resim Seç</label>
                                <input type="file" name="image" id="image" class="form-control">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="last_name1" id="last_name1" class="form-control" placeholder="Adınız Soyadınız">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="last_name1" id="last_name1" class="form-control" placeholder="Telefon Numaranız">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <button href="/Ilan/EmlakOlustur/ type="submit" value="SEND" id="submit1" class="btn btn-light btn-radius btn-brd grd1 btn-block">İlan Ver</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->