<div id="support" class="section wb">
    <div class="container">
        <div class="section-title text-center">
            <h3>İletişim Talebi</h3>
            <p class="lead">İstediğiniz özel teklif web sitesi hakkında size daha fazla ayrıntı verelim. Lütfen aşağıdaki formu doldurun.<br>Bizimle çalışmaktan mutlu olan milyonlarca web sitesi sahibimiz var!</p>
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-6">
                <div class="contact_form">
                    <div id="message"></div>
                    <form id="contactform" class="row" action="contact.php" name="contactform" method="post">
                        <fieldset class="row-fluid">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Adınız">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Soyadınız">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="phone" id="phone" class="form-control" placeholder="Telefon">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label class="sr-only">Zaman Seç</label>
                                <select name="select_service" id="select_service" class="selectpicker form-control" data-style="btn-white">
                                    <option value="selecttime">Zaman Seç</option>
                                    <option value="Weekdays">Gün Sonu</option>
                                    <option value="Weekend">Hafta Sonu</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label class="sr-only">Maksimum fiyat nedir?</label>
                                <select name="select_price" id="select_price" class="selectpicker form-control" data-style="btn-white">
                                    <option value="$100 - $2000">$100 - $2000</option>
                                    <option value="$2000 - $4000">$2000 - $4000</option>
                                    <option value="$4000 - $10000">$4000 - $10000</option>
                                </select>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <textarea class="form-control" name="comments" id="comments" rows="6" placeholder="Bize daha fazla ayrıntı verin.."></textarea>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <button type="submit" value="SEND" id="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block">Randevu Al</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div><!-- end col -->
            <div class="col-md-6">
                <div class="right-box-contact">
                    <h4>Telefon</h4>
                    <div class="support-info">
                        <div class="info-title">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            +511 839 9988
                            <span>Rezervasyon Süresi: 09:00 – 20:00</span>
                        </div>
                    </div>
                </div>
                <div class="right-box-contact">
                    <h4>Adres</h4>
                    <div class="support-info">
                        <div class="info-title">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Adres
                            <span>PSincan/ANKARA Ahi Mesut Bulvarı No:888</span>
                        </div>
                    </div>
                </div>
                <div class="right-box-contact">
                    <h4>Görüşleriniz</h4>
                    <div class="support-info">
                        <div class="info-title">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            eKEmlak@gmail.com
                            <span>Geliştirmemize yardım edin!</span>
                        </div>
                    </div>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->