<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

<!-- ALL JS FILES -->
<script src="~/city-real-estate/js/all.js"></script>
<!-- ALL PLUGINS -->
<script src="~/city-real-estate/js/custom.js"></script>
<script src="~/city-real-estate/js/portfolio.js"></script>
<script src="~/city-real-estate/js/hoverdir.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<!-- MAP & CONTACT -->
<script src="~/city-real-estate/js/map.js"></script>