

<div class="about-box">
    <div class="container">
        <div class="row">
            <div class="top-feature owl-carousel owl-theme">
                <div class="item">
                    <div class="single-feature">
                        <div class="icon"><img src="~/city-real-estate/uploads/icon-01.png" class="img-responsive" alt=""></div>
                        <h4><a href="#">Daire</a></h4>
                        <p>En iyi daireleri, en iyi fiyata bulun </p>
                    </div>
                </div>
                <div class="item">
                    <div class="single-feature">
                        <div class="icon"><img src="~/city-real-estate/uploads/icon-02.png" class="img-responsive" alt=""></div>
                        <h4><a href="#">Tarla</a></h4>
                        <p>Harika konumlardaki en güzel araziler.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="single-feature">
                        <div class="icon"><img src="~/city-real-estate/uploads/icon-03.png" class="img-responsive" alt=""></div>
                        <h4><a href="#">Villa</a></h4>
                        <p>Lüks villalar </p>
                    </div>
                </div>
                <div class="item">
                    <div class="single-feature">
                        <div class="icon"><img src="~/city-real-estate/uploads/icon-04.png" class="img-responsive" alt=""></div>
                        <h4><a href="#">Hobi Bahçesi</a></h4>
                        <p>Doğal yaşamın bahçeleeri. </p>
                    </div>
                </div>
            </div>
        </div>

        <hr class="hr1">

        <div class="row">
            <div class="col-md-6">
                <div class="post-media wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                    <img src="~/city-real-estate/uploads/about_bg.jpg" alt="" class="img-responsive">
                </div><!-- end media -->
            </div>
            <div class="col-md-6">
                <div class="message-box right-ab">
                    <h4>Ödüllü Gayrimenkul Şirketi</h4>
                    <h2>E.K. Emlaka Hoşgeldiniz</h2>
                    <p>45 yılı aşkın süredir sektörde lider firma ile ve uzman ekibimiz ie sizi en kolay yoldan mülk sahibi yapıyoruz.</p>
                    <a href="#" class="btn btn-light btn-radius grd1 btn-brd"> Daha fazla.. </a>
                </div>
            </div>
        </div>

    </div>
</div>
